__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
coverage.xml
.coverage*
htmlcov/
.mypy_cache/
.pytest_cache/
.cache/
.venv/
venv/
.env
.DS_Store
Thumbs.db
.idea/
.vscode/
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log
docker-data/
**/.dockerignore
poetry.lock
Pipfile
Pipfile.lock
# env & local
.env
.env.local
# node
node_modules/
dist/
